* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

header {
  width: 100%;
  background-color: #084177;
  text-align: center;
  color: #fff;
  height: 7vh;
}
header h1 {
  padding: 10px;
  font-weight: 500;
}

main {
  background-color: #052747;
  color: #fff;
  height: 93vh;
  width: 100%;
}

/* Word and Input */

.word-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.info {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
}
#seconds {
  color: #ff1e56;
  font-size: 19px;
}

.word {
  font-size: 75px;
  font-weight: 500;
  margin-bottom: 20px;
}

#word-input {
  width: 50%;
  height: 5vh;
  border: none;
  border-radius: 5px;
}

::placeholder {
  padding-left: 10px;
  font-size: 15px;
}

#message {
  font-style: 20px;
  font-weight: 500;
  margin-top: 10px;
}

/* Time and Score */

.time-score {
  display: flex;
  width: 40%;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 50px;
  font-weight: 400;
}

/* Instructions */

.instructions {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #084177;
  padding: 15px;
}

.instructions h3 {
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 10px;
}

@media (max-width: 600px) {
  #word-input {
    width: 80%;
  }
  .time-score {
    width: 70%;
  }
  .instructions {
    width: 80%;
  }
}
